<html ng-app="menuStore">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta property="og:image" content="http://devourcatering.co/images/Devour-prop.png" />
  <meta property="keywords" content="catering, india, mumbai, healthy, cuisine, student-run" />
  <meta property="og:url" content="http://devourcatering.co/" />
  <meta name="description" content="High quality gastronomy, with a wide variety of cuisines and exciting blends , prepared using high quality ingredients hand picked to create unforgettable flavors and presented with the élan of a top end bistro – all at your doorstep!">
  <title>Devour Catering Company - Mumbai, India</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.2.0/css/font-awesome.css">
  <link rel="icon" href="/images/favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61225860-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="/scripts/menu.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
  <body ng-controller="StoreController as store">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=550962128305902&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="top" class="jumbotron img-bg">
        <div class="bg"></div>
        <div class="top">
          <h1>Devour</h1>
          <p class="tagline"><b>The Catering Company</b></p>
        </div>
        <div class="submenu topmenu">
          <a href="#about"><span>About</span></a>
          <a href="#menu"><span>Menu</span></a>
          <a href="#packages"><span>Packages</span></a>
          <a href="#gallery"><span>Gallery</span></a>
          <a href="#contact"><span>Contact Us</span></a>
        </div>
        <a class="midcenter" href="#about"><i class="fa fa-angle-down fa-4x"></i></a>
      </div>
      <div id="about" class="jumbotron white">
        <h2>About Us</h2>
        <div class="data">
          <img class="left margin" src="images/mana.jpg" />
          <div class="manadata">
          <p> "I’m not just a foodie – I’m a purist … not a food lover – a food perfectionist !
Eating has never been as important as, creating extravagant recipes. The extravagant food and the elegant presentation is what has always been critical to me!
My obsession about making the perfect food for the occasion starts from the most authentic and fresh ingredients of the highest quality – to hygienic preparation, delectable taste – served with an elegant presentation style for every individual dish!
I live my obsession at DEVOUR ! <br/>Expect attention to every detail, and have the most memorable meal of your life!"</p>
            <p><b>Mana Doshi</b><br/>Proprietor<br/>Devour</p>
          </div>
      </div>
      </div>
      <div id="menu" class="jumbotron">
        <h2>Menu</h2>
        <div class="submenu cusine">
          <span ng-class="{selected: typefilter=='indian'}" ng-click="clicked('indian')"><hld>Indian</hld><img  src="/images/flags/India.png"/></span>
          <span ng-class="{selected: typefilter=='italian'}" ng-click="clicked('italian')"><hld>Italian</hld><img  src="/images/flags/Italy.png"/></span>
          <span ng-class="{selected: typefilter=='thai'}" ng-click="clicked('thai')"><hld>Thai</hld><img  src="/images/flags/Thailand.png"/></span>
          <span ng-class="{selected: typefilter=='chinese'}" ng-click="clicked('chinese')"><hld>Chinese</hld><img src="/images/flags/China.png" /></span>
          <span ng-class="{selected: typefilter=='mexican'}" ng-click="clicked('mexican')"><hld>Mexican</hld><img src="/images/flags/Mexico.png" /></span>
        </div>
        <div id="" class="menu-items show">
          <h4>{{typefilter | uppercase}}</h4>
          <span class="row">
            <div class="soups">
              <h3>Soups</h3>
              <ol  ng-repeat="item in store.menus">
                <li ng-repeat="val in item.soups | filter:{cuisine: typefilter} | orderBy: 'name'" ><div class="val">{{val.name}}<br/><span class="subtext" ng-bind-html="val.description | unsafe"></span></div><amt><i class="fa fa-inr fa-fw"></i> {{val.price}}</amt></li>
              </ol>
            </div>
            <div class="salads">
              <h3>Salads</h3>
              <ol  ng-repeat="item in store.menus">
                <li ng-repeat="val in item.salads | filter:{cuisine: typefilter} | orderBy: 'name'" ><div class="val" >{{val.name}}<br/><span class="subtext" ng-bind-html="val.description | unsafe"></span></div><amt><i class="fa fa-inr fa-fw"></i> {{val.price}}</amt></li>
              </ol>
            </div>
          </span>
          <div class="header appetizers">
            <h3>Appetizers</h3>
            <ol  ng-repeat="item in store.menus">
              <li ng-repeat="val in item.appetizers | filter:{cuisine: typefilter} | orderBy: 'name'" ><div class="val" >{{val.name}}<br/><span class="subtext" ng-bind-html="val.description | unsafe"></span></div><amt><i class="fa fa-inr fa-fw"></i> {{val.price}}</amt></li>
            </ol>
          </div>
          <div class="header main">
            <h3>Main</h3>
            <ol  ng-repeat="item in store.menus">
              <li ng-repeat="val in item.main | filter:{cuisine: typefilter} | orderBy: 'name'" ><div class="val" >{{val.name}}<br/><span class="subtext" ng-bind-html="val.description | unsafe"></span></div><amt><i class="fa fa-inr fa-fw"></i> {{val.price}}</amt></li>
            </ol>
          </div>
          <div class="header desert">
            <h3>Dessert</h3>
            <ol  ng-repeat="item in store.menus">
              <li ng-repeat="val in item.desert | filter:{cuisine: typefilter} | orderBy: 'name'"><div class="val" >{{val.name}}<br/><span class="subtext" ng-bind-html="val.description | unsafe"></span></div> <amt><i class="fa fa-inr fa-fw"></i> {{val.price}}</amt></li>
            </ol>
          </div>
          <!--i class="fa fa-angle-right fa-4x right"></i-->
        </div>
        *All food is purely vegetarian. Jain available on request.
      </div>
      <div id="packages" class="jumbotron white">
        <h2>Packages</h2>
        <div class="left">
          <h3>Basic</h3>
          <span><i class="fa fa-inr fa-fw"></i>999/plate + taxes</span>
          <div class="block">1 salad<br/>1 soup<br/>3 appetizers<br/>3 main courses<br/>1 dessert</div>
        </div>
        <div>
          <h3>Classic</h3>
          <span><i class="fa fa-inr fa-fw"></i>1200/plate + taxes</span>
          <div class="block">2 salad<br/>1 soup<br/>5 appetizers<br/>4 main courses<br/>2 desserts</div>
        </div>
        <div class="right">
          <h3>Exotic</h3>
          <span><i class="fa fa-inr fa-fw"></i>1700/plate + taxes</span>
          <div class="block">3 salads<br/>2 soups<br/>7 appetizers<br/>5 main courses + live station<br/>2 Mocktails<br/>3 desserts</div>
        </div>
        <p> Though the menu is cuisine exclusive, we are happy to mix and create a menu that fancy your taste buds. We cater to parties, high tea receptions and small gatherings. We have it all from finger foods to an array of a five course food spread.
        <br/>If the celebration involves more than 30 pax, we are more than happy to fill your tummy and put you to ease – yes, we will go light on your wallet!</p>
        <a href="#contact">Contact us to know more!</a>
      </div>
      <div id="gallery" class="jumbotron ">
        <h2>Gallery</h2>
        <div class="submenu cusine">
          <span><hld>Indian</hld><img  src="/images/flags/India.png" /></span>
          <span><hld>Italian</hld><img  src="/images/flags/Italy.png" /></span>
          <span><hld>Thai</hld><img  src="/images/flags/Thailand.png" /></span>
          <span><hld>Chinese</hld><img src="/images/flags/China.png" /></span>
          <span><hld>Mexican</hld><img src="/images/flags/Mexico.png" /></span>
        </div>
        <p class="otw"><em>Delicious dishes on their way.</em></p>
      </div>
      <div id="contact" class="jumbotron white">
        <h2>Contact Us</h2>
        <div class="row">
          <h4>Mana Doshi</h4>
          <span class="number"><b>Number: </b><a href="tel:+919820332202">+91 9820332202</a></span>
          <span class="number"><b>Email: </b><a href="mailto:orders@devourcatering.co">orders@devourcatering.co</a>
          <h4>Address</h4>
          <span class="number"><a  target="_address" href="https://www.google.com/maps/place/Echjay+House,+Carmichael+Rd,+Gamadia+Colony,+Tardeo,+Mumbai,+Maharashtra+400026,+India/@18.9696968,72.811498,17z/data=!3m1!4b1!4m2!3m1!1s0x3be7ce715fa1c1a1:0xe4379e0be34892e7">Echjay House<br/>
31 - A Carmichael Rd,<br/>
Opposite Smoking Joes, <br/>
Mumbai, Maharashtra 400026,<br/>
India</a></span>
          <h4>Social Media</h4>
          <span class="number"><a target="_fb" href="https://www.facebook.com/DevourCateringCo">Visit Our Page!</a><br/><div class="fb-like" data-href="https://www.facebook.com/DevourCateringCo" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></span>
        </div>
        <div class="header">
          <h4>Location:</h4>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3773.1338140759262!2d72.81149800000001!3d18.969696799999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce715fa1c1a1%3A0xe4379e0be34892e7!2sEchjay+House%2C+Carmichael+Rd%2C+Gamadia+Colony%2C+Tardeo%2C+Mumbai%2C+Maharashtra+400026%2C+India!5e0!3m2!1sen!2sus!4v1427244487331" height="300" frameborder="2"></iframe>
        </div>
        <div class="footer">Devour - The Catering Company (Mumbai, India) &#169; 2015</div>
        <div class="sign">Made with <i class="fa fa-heart"></i> by <a target="_mahir" href="http://mahirk.me"> Mahir Kothary</div>
      </div>
      <script src="/scripts/resize.js"></script>
  </body>
</html>
