
/*********
Fonts
**********/
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(http://fonts.gstatic.com/s/courgette/v4/Gkr63O-aJXf4Mv4t7cBUchJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(http://fonts.gstatic.com/s/courgette/v4/BHG8ZtTfO0yYnp02--QxqltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(http://fonts.gstatic.com/s/indieflower/v7/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(http://fonts.gstatic.com/s/lobstertwo/v7/Law3VVulBOoxyKPkrNsAaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4SppsHecKHw584ktcwPXSnc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4Uvi3q9-zTdQoLrequQTguk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4T3sPXe5Q4a3bCZMR7ryN4o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8fk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(http://fonts.gstatic.com/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYFK2TSYBz0eNcHnp4YqE4Ts.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/***********
Styles
**********/


body {
    width: 100%;
    font-family: 'Raleway', calibri;
    overflow-x:hidden;
    margin: 0;
    height:cover;
    background-color:rgba(0, 0, 0,0);
}

#top>.bg {
  z-index: -3;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image:url('/images/food.png');
}

.jumbotron {
  background: 0 0;
  text-align: center;
  height: 100%;
  display: table;
  width: 100%;
  margin: 0;
  padding: 2em 0;
  position: relative;
}

.jumbotron#faq, .jumbotron#top {
  margin: 0;
  padding: 0;
}


.top {
  text-align: center;
  vertical-align: middle;
  display: table-row;
  float: none;
}

.submenu {
  text-align: center;
  vertical-align: baseline;
  background: rgba(0,0,0,0.7);
  padding: 1.0%;
}

.cusine {
  background: rgba(0, 0, 0, 0.7);
  padding: 1.0%;
  color: #fff;
}

#menu {
  color: #333;
}

.submenu span {
  margin: 4%;
  padding: 1.1%;
}

a {
  color: #fff;
  text-decoration: none;
}

.submenu span:hover {
  background: rgba(33,33,33,0.5);
  cursor: pointer;
}

.midcenter {
  color: #fff;
  display: table-footer-group;
  text-align:center;
}

.white{
  background: url('/images/ricepaper.png');
}


p.tagline {
  font-size: 2em;
  color: #fff;
  margin-bottom: 1.5em;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.jumbotron p, p {
  font-size: .9em;
  line-height: 1.8em;
  margin: 20px 0;
  font-weight: 400;
}

h4 {
  font-size: 1.5em;
  text-align:left;
  -webkit-margin-after: 0.2em;
}
h1 {
  font-family: 'Courgette';
  color: #fff;
  letter-spacing: 0.7px;
  font-weight: 100;
  font-size: 8em;
}


h2 {
  font-family: 'Ubuntu';
  font-size: 3em;
  letter-spacing: 0.5px;
}

#menu h2 {
  -webkit-margin-after: 0.3em;
}

.data {
  text-align:left;
  margin: 0 2%;
}

.embroid {
  background: url('http://subtlepatterns.com/patterns/dark_embroidery.png');
  color: #fff;
}

h2:before,
h2:after {
    border-top: 2px solid black;
    display: block;
    height: 2px;
    content: " ";
    width: 40%;
    position: absolute;
    left: 0;
    top: 1.2em;
}
h2:after {
   right: 0;
   left: auto;
}

.menu-items {
  margin: 2% 2%;
  text-align: left;
  display: none;
}

.show {
  display: block!important;
}

.header {
  display:inline-block;
  vertical-align: top;
  width: 23%;
  margin-left: 2%;
}

.row {
  display:inline-block;
  width: 20%;
}

.right {
  margin-top: 10%;
  float: right;
}

h3 {
  font-size: 2em;
  font-family: 'Raleway';
}

/*************
Menu
*************/

.indian {
  font-family: 'Indie Flower';
}

.italian{
  font-family: 'Lobster Two';
}

.chinese {
  font-family: 'Shadows Into Light';
}

.mexican {
  font-family: 'PT Sans Narrow';
}

.thai {
  font-family: 'Poiret One';
  font-weight: 700;
}

amt {
  float: right;
}

ol, li {
  list-style-position:inside;
  margin:0;
  padding:0;
}
li {
  margin-top: 10px;
}
.val {
  vertical-align: top; width:70%; display:inline-block; font-size: 17px;
}

.selected{
  font-weight: bold;
  background: rgba(0,0,0,0.6);
}

.subtext{
  font-size: 11.5px;
  font-style: italic;
  font-family: 'Raleway';
}
#contact .row {
  width: 40%;
  text-align: left;
}

.number {
  font-size: 15px;
  display:block;
  margin-top: 2%;
}
.number a {
  color: #000;
}

iframe {
  border: 2px solid #333;

}

.footer {
  background: rgba(0,0,0,0.8);
  width:100%;
  color: #fff;
  padding: 2%;
}

.options {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  color: #fff;
  width:100%;
  padding: 2%;
  font-family: 'Raleway';
  font-size: 13px;
}

.options:hover {
  cursor: pointer;
}

#choices div {
  display:inline-block;
  width: 45%;
  margin-top: 5%;
}
#choicesPizza span {
  margin-top: 5%;
}
#choices, #choicesPizza {
  display:none;
}
.left {
  float:left;
}

#choices .right {
  margin-top:0;
}
