/********************

Devour - The Catering COmpany

Designed by: Mahir Kothary
http://mahirk.me
info@mahirk.me
github.com/mahirk

******************/

/***********
Styles
**********/


body {
    width: 100%;
    font-family: 'Raleway', calibri;
    overflow-x:hidden;
    margin: 0;
    height:cover;
    background-color:rgba(0, 0, 0,0);
}

#top>.bg {
  z-index: -3;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image:url('/images/food.png');
}

.jumbotron {
  background: 0 0;
  text-align: center;
  height: 100%;
  display: table;
  width: 100%;
  margin: 0;
  padding: 2em 0;
  position: relative;
}

.jumbotron#faq, .jumbotron#top {
  margin: 0;
  padding: 0;
}


.top {
  text-align: center;
  vertical-align: middle;
  display: table-row;
  float: none;
}

.submenu {
  text-align: center;
  vertical-align: baseline;
  background: rgba(0,0,0,0.7);
  padding: 1.0%;
}

.cusine {
  background: rgba(0, 0, 0, 0.7);
  padding: 1.0%;
  color: #fff;
}

#menu {
  color: #333;
}

.submenu span {
  margin: 4%;
  padding: 1.1%;
}
.submenu a {
  margin-left: 3%;
}
a {
  color: #fff;
  text-decoration: none;
}

.submenu span:hover {
  background: rgba(33,33,33,0.5);
  cursor: pointer;
}

.midcenter {
  color: #fff;
  display: table-footer-group;
  text-align:center;
}

.white{
  background: url('/images/ricepaper.png');
}


p.tagline {
  font-size: 2em;
  color: #fff;
  margin-bottom: 1.5em;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.jumbotron p, p {
  font-size: .9em;
  line-height: 1.8em;
  margin: 20px 0;
  font-weight: 400;
}

h4 {
  font-size: 1.5em;
  text-align:left;
  -webkit-margin-after: 0.2em;
}
h1 {
  font-family: 'Courgette';
  color: #fff;
  letter-spacing: 0.7px;
  font-weight: 100;
  font-size: 8em;
}


h2 {
  font-family: 'Ubuntu';
  font-size: 3em;
  letter-spacing: 0.5px;
}

#menu h2 {
  -webkit-margin-after: 0.3em;
}

.data {
  text-align:left;
  margin: 0 2%;
}

.embroid {
  background: url('http://subtlepatterns.com/patterns/dark_embroidery.png');
  color: #fff;
}

h2:before,
h2:after {
    border-top: 2px solid black;
    display: block;
    height: 2px;
    content: " ";
    width: 40%;
    position: absolute;
    left: 0;
    top: 1.2em;
}
h2:after {
   right: 0;
   left: auto;
}

.menu-items {
  margin: 2% 2%;
  text-align: left;
  display: none;
}

.show {
  display: block!important;
}

.header {
  display:inline-block;
  vertical-align: top;
  width: 23%;
  margin-left: 2%;
}

.row {
  display:inline-block;
  width: 20%;
}

.right {
  margin-top: 10%;
  float: right;
}

h3 {
  font-size: 2em;
  font-family: 'Raleway';
}

/*************
Menu
*************/

.indian {
  font-family: 'Indie Flower';
}

.italian{
  font-family: 'Lobster Two';
}

.chinese {
  font-family: 'Shadows Into Light';
}

.mexican {
  font-family: 'PT Sans Narrow';
}

.thai {
  font-family: 'Poiret One';
  font-weight: 700;
}

amt {
  float: right;
}

ol, li {
  list-style-position:inside;
  margin:0;
  padding:0;
}
li {
  margin-top: 10px;
}
.val {
  vertical-align: top; width:70%; display:inline-block; font-size: 17px;
}

.selected{
  font-weight: bold;
  background: rgba(0,0,0,0.6);
}

.subtext{
  font-size: 11.5px;
  font-style: italic;
  font-family: 'Raleway';
}
#contact .row {
  width: 40%;
  text-align: left;
}

.number {
  font-size: 15px;
  display:block;
  margin-top: 2%;
}
.number a {
  color: #000;
}

iframe {
  border: 2px solid #333;

}

.footer {
  background: rgba(0,0,0,0.8);
  width:100%;
  color: #fff;
  padding: 2%;
  margin-top: 3%;
}

.options {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  color: #fff;
  width:100%;
  padding: 2%;
  font-family: 'Raleway';
  font-size: 13px;
}

.options:hover {
  cursor: pointer;
}

#choices div, #choicesRoti div{
  display:inline-block;
  width: 45%;
  margin-top: 5%;
}
#choicesPizza span {
  margin-top: 5%;
}
#choices, #choicesPizza, #choicesRoti {
  display:none;
}
.left {
  float:left;
}

#choices .right {
  margin-top:0;
}

#packages p {
  font-size: 20px;
  margin: 3% 10%;

}

ul.price {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.price li {
  font: normal normal normal 14px/1 FontAwesome;
  padding-left: 1.5em;
  text-indent: -1em;
}

ul.price li:before {
  content: "\f156";
  padding-right: 7px;
}

.number a:hover {
  color: #2980B9;
  font-weight: bold;
}

.fb-like {
  margin-top: 10px;
}
